[Unit]  
Description=redisd6379.service  
After=network.target network.service 
   
[Service]  
Type=forking  
PIDFile=/var/run/redis_6379.pid 
ExecStart=/data/redis_cluster/6379/startup.sh  
ExecReload=/data/redis_cluster/6379/shutdown.sh && /data/redis_cluster/6379/startup.sh  
ExecStop=/data/redis_cluster/6379/shutdown.sh  
PrivateTmp=true  
   
[Install]  
WantedBy=multi-user.target
